<div class="ui tabular menu">
	<%= link_to "All the courses", users_path, class: ' item' %>
	<%= link_to "My List", user_path(current_user), class: 'item' %> 
	<%= link_to "Create", new_user_path(current_user), class: 'item' %> 
	<%= link_to "Update", users_path, class: 'item' %> 
</div>
