<div class="ui grid">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui huge message page grid">
                <h1 class="ui huge header">Welcome to Udem'I'</h1>
                <p>This webpage is a Rookie clone of <a target="_blank" href="https://www.udemy.com/">Udemy</a></p>
            </div>
        </div>
    </div>
</div>
 
