<div class="ui tabular menu">
	<%= link_to "List", users_path, class: 'active item' %> 
	<%= link_to "Create", users_path, class: 'item' %> 
	<%= link_to "Update", users_path, class: 'item' %> 
	<%= link_to "Delete", users_path, class: 'item red' %> 
</div>

<div class="ui page grid">
	<% if !@courses.blank? %>
	  <% for course in @courses %>
	    <div class="row">
	        <div class="column">
	            <h2 class="ui header">Heading</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
	            <button class="ui tiny button m-top-10">View details »</button>
	        </div>
	    </div>
	  <% end %>
	<% else %>
		<div class="row">
		  <div class="column">
		      <h2 class="ui header">You do not have any courses registered at your name</h2>
		      <p>if you want to register a new course tap the tab <strong>create</strong></p>
		  </div>
		</div>
	<% end %>
	    
    <div class="row">
        <div class="column">
            <div class="ui divider"></div>  
            <span>© Jasmo2, 2015</span>
        </div>
    </div>
</div>
